@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

@theme {
   --color-main-dark: #171717;
   --color-primary: #c7a943;
   --color-secondary: #b89935;

   --radius-main: 65px;
}

@layer components {
   .gridLayer {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 40px;
   }

   .reverseGridLayer {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 40px;
   }

   .formField {
      min-width: 290px;
   }
}

:root {
   background-color: #181818;
   color: white;
   font-weight: 100;
   --font-sans: 'Gilroy', sans-serif;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background-color: #c7a943;
   border-radius: 20px;
   border: 2px solid #c7a943;
}

h1 {
   font-size: 40px;
   font-weight: 700;
}

h2 {
   font-size: 40px;
}

h3 {
   font-size: 30px;
}

h4 {
   font-size: 28px;
}

h6 {
   font-size: 14px;
   font-weight: 700;
}

input[type='text'] {
   padding: 20px;
}

input[type='radio'] {
   appearance: none;
   -webkit-appearance: none; /* для Safari */
   -moz-appearance: none; /* для Firefox */
   width: 16px;
   height: 16px;
   background: white;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   cursor: pointer;
   transition: all 0.2s ease;
}

input[type='radio']:checked::after {
   content: '✓';
   color: #202020;
   font-size: 12px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -48%);
}

input[type='radio']:checked {
   background-color: #c7a943;
   border-color: #c7a943;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../assets/fonts/Gilroy-Regular.woff2') format('woff2');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../assets/fonts/Gilroy-Light.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../assets/fonts/Gilroy-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
